name: Sync Modrinth Description

permissions:
  contents: read

on:
  workflow_dispatch:
  push:
    branches:
      - develop
    paths:
      - .github/workflows/sync-modrinth-desc.yml
      - README.md

jobs:
  modrinth-desc:
    runs-on: 'ubuntu-latest'
    steps:
    - uses: actions/checkout@v4
    - uses: funnyboy-roks/modrinth-auto-desc@v1.6
      with:
        auth-token: ${{ secrets.MODRINTH_TOKEN }}
        slug: 'typewriter'
